name: Playwright Tests
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2.4.0
      with:
        node-version: 18
    - name: Install dependencies
      run: pnpm install --dir ./ui
    - name: Install Playwright Browsers
      run: cd ui && pnpx playwright install --with-deps
    - name: Run Playwright tests
      run: cd ui && pnpx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
